<!DOCTYPE html>
<html lang="en">

<head>
    <title>Expense Manager</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>

<body>
    <h2>All Expenses</h2>
    <a href="/add">Add Expense</a>
    <a href="/summary">View Summary</a>
    <table border="2">
        <tr>
            <th>Name</th>
            <th>Amount</th>
            <th>Category</th>
            <th>Date</th>
            <th>Delete</th>
        </tr>

        {% for exp in expenses %}
        <tr>
            <td>{{exp.name}}</td>
            <td>{{exp.amount}}</td>
            <td>{{exp.category}}</td>
            <td>{{exp.date}}</td>
            <td><a href="/delete/{{loop.index0}}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>